Repository uscuni/simplification, pull requests merged in 2024-08, with the labels that each got.

#132 initial fixes tests for tests from #131
  core/tests/test_common.py
  core/tests/test_utils.py
Labels: housekeeping

#137 decouple segmentation distance from buffer distance
  core/algorithms/simplify.py
  core/geometry.py
Labels: algo/method

#147 resolve #145 -- xfail several tests depending on updated data
  .github/workflows/testing.yml
  .pre-commit-config.yaml
  core/tests/test_protocol.py
  core/tests/test_viz_h3_hex.py
Labels: housekeeping

#150 simplify pairs under non-planar line
  core/algorithms/simplify.py
Labels: algo/method

#151 Revert "simplify pairs under non-planar line"
  core/algorithms/simplify.py
Labels: algo/method

#155 Update README.md - #154
  README.md
Labels: documentation

#156 Collapse new nodes
  core/algorithms/artifacts.py
  core/algorithms/nodes.py
  core/algorithms/simplify.py
  core/geometry.py
Labels: algo/method

#158 better error handling
  core/algorithms/simplify.py
  notebooks/simplification_pipeline.ipynb
Labels: algo/method

#159 include exclusion_mask
  core/algorithms/artifacts.py
  core/algorithms/simplify.py
Labels: algo/method

#161 deleted service roads
  core/tests/baseline_images/test_protocol/test_process_case_manual.png
  core/tests/baseline_images/test_protocol/test_process_case_original.png
  core/tests/baseline_images/test_viz_h3_hex/test_viz_h3_hex_plot_aoi.png
  core/tests/test_protocol.py
  core/tests/test_stats.py
  core/tests/test_utils.py
  core/tests/test_viz_h3_hex.py
  data/1133/manual/1133.parquet
  data/1656/manual/1656.parquet
  data/4617/manual/4617.parquet
  data/4881/manual/4881.parquet
  data/809/manual/809.parquet
  data/869/manual/869.parquet
  notebooks/check_corrected_input_data.ipynb
Labels: data

#163 fix_topology
  core/algorithms/artifacts.py
  core/algorithms/nodes.py
  core/algorithms/simplify.py
  notebooks/simplification_prg.ipynb
Labels: algo/method
