Repository uscuni/simplification, pull requests merged in 2024-12, with the labels that each got.

#206 bump pinned min momepy
  ci/py311_simplification-latest.yaml
  environment.yml
  pyproject.toml
Labels: housekeeping

#209 update cityseer and osmnx files using the pixi env versions
  data/1133/cityseer/1133.parquet
  data/1133/osmnx/1133.parquet
  data/1656/cityseer/1656.parquet
  data/1656/osmnx/1656.parquet
  data/4617/cityseer/4617.parquet
  data/4617/osmnx/4617.parquet
  data/4881/cityseer/4881.parquet
  data/4881/osmnx/4881.parquet
  data/809/cityseer/809.parquet
  data/809/osmnx/809.parquet
  data/869/cityseer/869.parquet
  data/869/osmnx/869.parquet
  data/8989/cityseer/8989.parquet
  data/8989/osmnx/8989.parquet
  notebooks/archive/momepy.ipynb
  notebooks/methods/cityseer.ipynb
  notebooks/methods/osmnx.ipynb
Labels: data

#218 condense reading of results - `utils.read_results()`
  core/eval.py
  core/protocol.py
  core/tests/conftest.py
  core/tests/test_protocol.py
  core/tests/test_utils.py
  core/utils.py
Labels: housekeeping

#213 reup `cityseer` method with new sequence + fresh FUA results
  .github/workflows/testing.yml
  core/tests/test_utils.py
  data/1133/cityseer/1133.parquet
  data/1656/cityseer/1656.parquet
  data/4617/cityseer/4617.parquet
  data/4881/cityseer/4881.parquet
  data/809/cityseer/809.parquet
  data/869/cityseer/869.parquet
  data/8989/cityseer/8989.parquet
  notebooks/methods/cityseer.ipynb
  notebooks/methods/cityseer_4-17-2_Graph-Cleaning-Cityseer-Guide.pdf
  pixi.lock
  pyproject.toml
Labels: cityseer, data

#219 clean up relic dependencies
  pixi.lock
  pyproject.toml
Labels: housekeeping

#221 standardize input FUA indices & columns - `simplification/data`
  core/tests/test_utils.py
  data/1133/neatnet/1133.parquet
  data/1133/original/1133.parquet
  data/1656/neatnet/1656.parquet
  data/1656/original/1656.parquet
  data/4617/neatnet/4617.parquet
  data/4617/original/4617.parquet
  data/4881/neatnet/4881.parquet
  data/4881/original/4881.parquet
  data/809/neatnet/809.parquet
  data/809/original/809.parquet
  data/869/neatnet/869.parquet
  data/869/original/869.parquet
Labels: data
